/* Descriptions on shop, category, and single-product */
:is(.woocommerce-shop,.post-type-archive-product,.tax-product_cat)
 :is(.woocommerce-products-header .page-description,
     .term-description,
     .wp-block-woocommerce-archive-description) a:any-link,
.single-product #tab-description a:any-link { text-decoration: underline; }

@media (hover:hover) and (pointer:fine){
  :is(.woocommerce-shop,.post-type-archive-product,.tax-product_cat)
   :is(.woocommerce-products-header .page-description,
       .term-description,
       .wp-block-woocommerce-archive-description) a:any-link:hover,
  .single-product #tab-description a:any-link:hover { text-decoration: none; }
}